* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #000;
}


a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 111px;
}

.nav__title {
  color: #757575;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 7.04px;
}

.nav__phone {
  display: inline-flex;
  align-items: center;
}

.nav__tel {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  margin-left: 11px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 119px;
}

.content__title {
  width: 537px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.content__text {
  width: 474px;
  margin-bottom: 30px;
}

.content__img {
  width: 584px;
  height: 353px;
  border-radius: 7px;
  background: url(/img/img_purple.jpg);
  background-size: cover;
}

.content__btn {
  display: flex;
  width: 330px;
  height: 80px;
  padding: 28px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: #be8aff;
  border-style: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  transition: box-shadow .3s;
}

.content__btn:hover {
  cursor: url(/img/cursor.png), pointer;
  box-shadow: 0px 4px 10px 0px #9747FF;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 20%;
  margin-bottom: 59px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  width: 308px;
}

.footer__buttons-items {
  display: flex;
  list-style: none;
}

.footer__buttons-item {
  display: flex;
  width: 108px;
  height: 108px;
  list-style: none;
  margin-left: 30px;
  border-radius: 7px;
  border: none;
}

.footer__buttons-item:hover {
  cursor: url(/img/cursor.png), pointer;
  opacity: .7;
}

.footer__buttons-item_purple {
  background: #BE8AFF;
}

.footer__buttons-item_orange {
  background: #FFB48A;
}

.footer__buttons-item_green {
  background: #99DFBE;
}
