* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

button:hover {
  cursor: url("../img/cursor.png"), pointer;
}

.popup {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

.popup__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 100ms ease-in-out 200ms;
}

.popup__content {
  position: relative;
  margin: 0 auto;
  top: 25%;
  width: 611px;
  height: 378px;
}

.popup__fill {
  position: absolute;
  bottom: 0;
  width: 579px;
  height: 350px;
  background: #fff;
  text-align: center;
  padding-top: 5px;
  border-radius: 7px;
  z-index: 50;
}
@media (min-width: 320px) {
  .popup__fill {
    left: 37px;
    width: 300px;
  }
  .popup__content {
    width: 340px;
  }
}
@media (min-width: 350px) {
  .popup__fill {
    left: 24px;
    width: 300px;
  }
}

.popup__text {
  font-size: 36px;
  font-weight: 700;
}

.popup__close {
  float: right;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 42px;
  border-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 111px;
}

.nav__title {
  color: #757575;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 7.04px;
}

.nav__phone {
  display: inline-flex;
  align-items: center;
}

.nav__tel {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  margin-left: 11px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 119px;
}

.content__title {
  width: 537px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.content__text {
  width: 474px;
  margin-bottom: 30px;
}

.content__img {
  max-width: 100%;
  width: 584px;
  height: 353px;
  border-radius: 7px;
  background-size: cover;
}

.img-change {
  max-width: 100%;
}

.content__btn {
  display: flex;
  width: 330px;
  height: 80px;
  padding: 28px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: #be8aff;
  border-style: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  transition: box-shadow 0.3s;
}

.content__btn:hover {
  cursor: url("../img/cursor.png"), pointer;
  box-shadow: 0px 4px 10px 0px #9747ff;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 20%;
  margin-bottom: 59px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer__text {
  width: 308px;
}

.footer__buttons-items {
  display: flex;
  list-style: none;
}

.footer__buttons-item {
  display: flex;
  width: 108px;
  height: 108px;
  list-style: none;
  margin-left: 30px;
  border-radius: 7px;
  border: none;
}

.footer__buttons-item:hover {
  cursor: url("../img/cursor.png"), pointer;
  opacity: 0.7;
}

.footer__buttons-item_purple {
  background: #be8aff;
}

.footer__buttons-item_orange {
  background: #ffb48a;
}

.footer__buttons-item_green {
  background: #99dfbe;
}

/*  Responsive  */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  body {
    font-size: 18px;
  }

  .content__title {
    width: 416px;
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .nav__phone {
    display: none;
  }

  .nav {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  .nav__title {
    font-size: 20px;
  }

  .content {
    flex-direction: column;
    width: auto;
    align-items: flex-start;
    margin-bottom: 25px;
  }
  .content__offer {
    width: 100%;
  }
  @media (min-width: 320px) {
    .content__offer {
      margin-top: 3.5em;
    }
  }
  @media (min-width: 768px) {
    .content__offer {
      margin-top: 7.5em;
    }
  }

  .content__img {
    order: 1;
    width: 100%;
    margin-bottom: 25px;
  }

  .content__offer {
    order: 2;
  }

  .line {
    margin-bottom: 30px;
  }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .content__offer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer__text {
    font-size: 14px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .footer__buttons-item {
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .footer__buttons-item_purple {
    margin-right: 0;
  }

  .content__title {
    text-align: center;
    width: 100%;
  }

  .content__text {
    text-align: center;
    width: 100%;
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .container {
    width: 375px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .nav__title {
    font-size: 12px;
    margin-top: 10px;
  }

  .content__title {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .content__text {
    font-size: 14px;
    width: 90%;
    margin-bottom: 10px;
  }

  .content__img {
    width: 90%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}
